doctype html
html
  head
    title Suneha Road Transport Corpn.
    block scripts
    block style
  body
    .loader_bg
      .loader
    nav.navbar.background
      .left-sec
        .logo
          img(src='../static/logo.png')
        h1 SUNEHA ROAD TRANSPORT CORPN.
          p Transport Services You Need
      .nav-list
        .email1
          a(href='mailto:srtc.saini@yahoo.com') &#9993; Email Us : Srtc.saini@yahoo.com
        ul.list
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/Contact_Us') Contact Us
          li
            a(href='/Our_Services') Our Services
  block content
  footer.last
    div
      h6 Copyright © 2020 Suneha Road Tranport Copn. | All Right Reserved
    